@use "variables" as *;

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc($gap) 0;
    background-color: $light-bg-color;
    color: $text-grey-6;
    font-size: 0.9rem;
}
