@use "variables" as *;

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(2 * $gap);
    background-color: $light-accent-color;
    color: $light-bg-color;
    font-size: 1rem;
    font-weight: bold;
}
