@use "./variables" as *;

header {
    position: sticky;
    top: 0%;
    display: flex;
    width: $parent-container-width;
    padding: calc($gap/2) 0;
    justify-content: center;
    align-items: center;
    z-index: 2;

    background-color: var(--bg-primary);
    border-bottom: 1px solid
        color-mix(in srgb, var(--text-color-1) 20%, transparent);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $gap;
        flex-wrap: wrap;
        padding: 0 $gap;

        .mobile-menu-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .mobile-menu-btn-container {
                .toggle-dark-mode-mobile {
                    background: none;
                    color: inherit;
                    border: none;
                    cursor: pointer;
                    margin-right: $gap;
                    .icon {
                        width: $gap;
                        height: $gap;
                    }
                    :hover {
                        opacity: 0.6;
                    }
                }
            }
        }

        h1 {
            font-size: 2rem;
            font-weight: 600;
            margin: 0;
            color: var(--text-color-3);
        }

        .menu-btn {
            font-size: 2rem;
            border: none;
            background-color: transparent;
            cursor: pointer;
            color: var(--text-color-2);
            transition: color 0.3s;

            &:hover {
                color: var(--text-color-5);
            }
        }

        nav {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                gap: $gap;
                padding: calc($gap/3);

                a {
                    text-decoration: none;
                    padding: calc($gap/3);
                    color: var(--text-color-2);
                    font-size: 1rem;
                    transition: color 0.3s;
                    &:hover {
                        color: var(--text-color-5);
                        border-bottom: 2px solid
                            color-mix(
                                in srgb,
                                var(--text-color-1) 60%,
                                transparent
                            );
                    }
                }

                button {
                    background: none;
                    color: inherit;
                    border: none;
                    cursor: pointer;
                    .icon {
                        width: $gap;
                        height: $gap;
                    }
                    :hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}
