@use "./variables" as *;

header {
    position: sticky;
    top: 0%;
    display: flex;
    width: $parent-container-width;
    padding: calc($gap/2);
    justify-content: center;
    align-items: center;
    z-index: 2;

    background-color: $light-bg-color;

    .container {
        max-width: $maximum-content-width;
        width: $parent-container-width;
        padding: 0 $gap;

        .mobile-menu-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        h1 {
            font-size: 2rem;
            font-weight: medium;
            margin: 0;
            color: $text-grey-5;
        }

        .menu-btn {
            font-size: 2rem;
            border: none;
            background-color: transparent;
            cursor: pointer;
            color: $text-grey-2;
            transition: color 0.3s;

            &:hover {
                color: $text-grey-5;
            }
        }

        nav {
            ul {
                display: flex;
                list-style: none;
                gap: $gap;
                padding: calc($gap/3);

                a {
                    text-decoration: none;
                    padding: calc($gap/3);
                    color: $text-grey-2;
                    font-size: 1rem;
                    transition: color 0.3s;
                    &:hover {
                        color: $text-grey-5;
                        border-bottom: 2px solid rgba($text-grey-1, 0.6);
                    }
                }
            }
        }
    }
}
