@use "./variables" as *;

.container {
    max-width: $maximum-content-width;
    width: calc($parent-container-width - 2 * $gap);
    padding: $gap;
    margin: auto;
}

.hidden {
    display: none;
}

.scroll-target {
    scroll-margin-top: 61px;
}

.section-heading {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: calc(2 * $gap);
    color: $text-grey-4;
    font-weight: 600;
}

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc($gap);

    .icon {
        width: $gap;
        fill: $text-grey-2;

        &:hover {
            fill: $text-grey-4;
        }
    }
}
