@use "./variables" as *;

.container {
    max-width: $maximum-content-width;
    width: $parent-container-width;
    margin: auto;
    padding: $gap;
}

.hidden {
    display: none;
}

.scroll-target {
    scroll-margin-top: 65px;
}

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc($gap);

    .icon {
        width: $gap;
        fill: $text-grey-2;

        &:hover {
            fill: $text-grey-4;
        }
    }
}
