@use "./variables" as *;

:root {
    --button-primary: #{$light-button-primary};
    --button-primary-hover: #{$light-button-primary-hover};
    --button-secondary: #{$light-button-secondary};
    --text-gold-1: #{$light-text-gold-1};

    --bg-primary: #{$light-bg-color};
    --bg-secondary: #{$light-bg-grey-color};
    --text-color-0: #{$light-text-color-0};
    --text-color-1: #{$light-text-color-1};
    --text-color-2: #{$light-text-color-2};
    --text-color-3: #{$light-text-color-3};
    --text-color-4: #{$light-text-color-4};
    --text-color-5: #{$light-text-color-5};
    --text-color-6: #{$light-text-color-6};
}

.dark-theme {
    --button-primary: #{$dark-button-primary};
    --button-primary-hover: #{$dark-button-primary-hover};
    --button-secondary: #{$dark-button-secondary};
    --text-gold-1: #{$dark-text-gold-1};

    --bg-primary: #{$dark-bg-color};
    --bg-secondary: #{$dark-bg-grey-color};
    --text-color-0: #{$dark-text-color-0};
    --text-color-1: #{$dark-text-color-1};
    --text-color-2: #{$dark-text-color-2};
    --text-color-3: #{$dark-text-color-3};
    --text-color-4: #{$dark-text-color-4};
    --text-color-5: #{$dark-text-color-5};
    --text-color-6: #{$dark-text-color-6};
}

.light-theme {
    --button-primary: #{$light-button-primary};
    --button-primary-hover: #{$light-button-primary-hover};
    --button-secondary: #{$light-button-secondary};
    --text-gold-1: #{$light-text-gold-1};

    --bg-primary: #{$light-bg-color};
    --bg-secondary: #{$light-bg-grey-color};
    --text-color-0: #{$light-text-color-0};
    --text-color-1: #{$light-text-color-1};
    --text-color-2: #{$light-text-color-2};
    --text-color-3: #{$light-text-color-3};
    --text-color-4: #{$light-text-color-4};
    --text-color-5: #{$light-text-color-5};
    --text-color-6: #{$light-text-color-6};
}

.container {
    max-width: $maximum-content-width;
    width: calc($parent-container-width - 2 * $gap);
    padding: $gap;
    margin: auto;
}

.hidden {
    display: none;
}

.scroll-target {
    scroll-margin-top: 61px;
}

.section-heading {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 15px;
    margin-bottom: calc(3 * $gap);
    color: var(--text-color-4);
    font-weight: 600;
}

.contact-links {
    display: flex;
    height: calc(2 * $gap);
    justify-content: center;
    align-items: center;
    gap: calc($gap);

    .icon {
        width: calc(1.5 * $gap);
        fill: var(--text-color-3);

        &:hover {
            fill: var(--text-color-6);
        }
    }
}

.moon-icon {
    background: url("../../assets/svg/moon-logo.svg");
}

.sun-icon {
    background: url("../../assets/svg/sun-logo.svg");
}
