@use "../variables" as *;
@use "../image-slider";

#about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: $gap;

    .profile-pic-container {
        img {
            width: $profile-image-width;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }

    .intro-container {
        min-width: $minimum-screen-width;
        flex: 1;
        padding: $gap;

        p {
            font-size: 1.1rem;
            line-height: 1.6;
            margin-bottom: $gap;
        }

        .skill-heading {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: $gap;
        }

        .technical-skills {
            margin-top: $gap;
            @extend .slider;
        }

        .contact-links {
            justify-content: flex-end;
        }
    }
}
