@use "../variables" as *;
@use "../image-slider";

#about-me {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: $gap;

        .profile-pic-container {
            img {
                width: $profile-image-width;
                height: auto;
                object-fit: cover;
                border-radius: 50%;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
        }

        .intro-container {
            min-width: $minimum-screen-width;
            flex: 1;
            padding: $gap;

            p {
                font-size: 1.4rem;
                line-height: 1.6;
                margin-bottom: $gap;
                color: $text-grey-4;
            }

            .my-name {
                color: $text-gold-1;
                font-weight: bold;
            }

            .skill-heading {
                font-size: 1.7rem;
                font-weight: 500;
                margin-bottom: $gap;
                color: $text-grey-5;
            }

            .technical-skills {
                margin-top: $gap;
                @extend .slider;
            }

            .contact-links {
                margin-top: $gap;
                justify-content: flex-end;
            }
        }
    }
}

#about-me > .container {
    padding-top: 100px;
    padding-bottom: 150px;
}
