@use "../variables" as *;

#my-work {
    .container {
        display: block;

        .card-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: $gap;

            .card {
                border: 1.8px solid
                    color-mix(in srgb, var(--text-color-1) 20%, transparent);
                padding: $gap;
                background-color: var(--bg-primary);
                border-radius: 8px;

                .project-thumbnail-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    overflow: hidden;
                    border-radius: 8px;

                    img {
                        width: $parent-container-width;
                        height: auto;
                        transition: transform 0.3s;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }

                .project-title-and-links-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: $gap;
                    margin-top: $gap;
                    margin-bottom: calc(0.5 * $gap);

                    h3 {
                        font-size: 1.5rem;
                        margin: 0;
                        font-weight: 700;
                        color: var(--text-color-4);
                    }

                    .links-container {
                        display: flex;
                        align-items: center;
                        gap: calc($gap/2);
                        .icon {
                            width: calc(1.4 * $gap);
                            fill: var(--text-color-2);

                            &:hover {
                                fill: var(--text-color-4);
                            }
                        }
                    }
                }

                .project-description {
                    font-size: 1.1rem;
                    line-height: 1.6;
                    margin-bottom: calc(1.5 * $gap);
                    color: var(--text-color-3);
                }

                .project-dependencies {
                    display: flex;
                    flex-wrap: wrap;
                    gap: calc($gap/4);
                    margin-top: $gap;

                    .tag {
                        display: inline-block;
                        padding: 5px 12px;
                        background-color: var(--bg-primary);
                        color: var(--text-color-3);
                        text-decoration: none;
                        border: 0.1px solid
                            color-mix(
                                in srgb,
                                var(--text-color-2) 20%,
                                transparent
                            );
                        border-radius: 40px;
                        font-size: 0.9rem;
                        font-weight: bold;
                        transition: background-color 0.2s ease-in-out;

                        &:hover {
                            background-color: var(--bg-secondary);
                        }
                    }
                }
            }
        }
    }
}

section#my-work {
    background-color: var(--bg-secondary);
}
