* {
    margin: 0;
    padding: 0;
}

$minimum-screen-width: 280px;
$parent-container-width: 100%;
$maximum-content-width: 700px;

header {
    display: flex;
    width: $parent-container-width;
    justify-content: space-between;
    align-items: center;
    h1 {
        margin: 0 10px;
    }
    nav {
        margin: 0 10px;
        ul {
            display: flex;
            list-style: none;
            gap: 10px;

            a {
                text-decoration: none;
                color: black;
                &:hover {
                    color: white;
                }
            }
        }
    }
    background-color: aquamarine;
}

main {
    $profile-image-width: 200px;
    #about-me {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        .profile-pic-container {
            img {
                width: $profile-image-width;
                height: auto;
                object-fit: cover;
            }
        }
        .intro-container {
            width: calc($parent-container-width - $profile-image-width);
            min-width: $minimum-screen-width;
            max-width: $maximum-content-width;
            background-color: aqua;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}
