* {
    margin: 0;
    padding: 0;
}

$minimum-screen-width: 280px;
$parent-container-width: 100%;
$maximum-content-width: 900px;
$gap: 20px;

body {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gap;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

.scroll-target {
    scroll-margin-top: 42px;
}

header {
    position: sticky;
    top: 0%;
    display: flex;
    width: $parent-container-width;
    justify-content: center;
    align-items: center;
    .container {
        max-width: $maximum-content-width;
        width: $parent-container-width;

        padding: 0 20px;

        .mobile-menu-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        nav {
            ul {
                display: flex;
                list-style: none;
                gap: 10px;

                a {
                    text-decoration: none;
                    color: black;
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    background-color: aquamarine;
}

main {
    $profile-image-width: 200px;

    max-width: $maximum-content-width;
    margin: auto;
    padding: 20px;

    #about-me {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: $gap;

        .profile-pic-container {
            img {
                width: $profile-image-width;
                height: auto;
                object-fit: cover;
            }
        }

        .intro-container {
            width: calc($parent-container-width - $profile-image-width - $gap);
            min-width: $minimum-screen-width;

            background-color: aqua;
        }
    }

    #my-work {
        .card-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: $gap;
            .card {
                .project-thumbnail-container {
                    &:hover {
                        opacity: 0.7;
                    }
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .project-title-and-links-container {
                    display: flex;
                    justify-content: space-between;
                    gap: $gap;

                    .links-container {
                        display: flex;
                        gap: $gap;
                    }
                }
            }
        }
    }

    #contact-me {
        form {
            width: calc($parent-container-width / 2 - $gap / 2);
            min-width: $minimum-screen-width;
            margin: auto;
            display: flex;
            flex-direction: column;
            label {
                display: flex;
                flex-direction: column;
            }
        }

        .contact-details {
            margin: auto;
            width: calc($parent-container-width/2 - $gap / 2);
            min-width: $minimum-screen-width;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

@media (max-width: 450px) {
    .menu-btn {
        display: inline-block;
    }

    header {
        .container {
            flex-direction: column;
            gap: 0;

            .mobile-menu-header {
                width: $parent-container-width;
            }

            nav {
                display: grid;
                grid-template-rows: 0fr;
                transition: grid-template-rows 300ms ease-in-out;

                ul {
                    overflow: hidden;
                    flex-direction: column;
                    align-items: center;

                    li:last-child {
                        margin-bottom: calc($gap/2);
                    }
                }
            }

            nav.show-menu {
                grid-template-rows: 1fr;
            }
        }
    }
}
