doctype html
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href=require('./styles/style.scss') rel='stylesheet')
        title Personal Portfolio

    body
        header
            h1 Protfolio
            nav
                ul
                    li 
                        a(href="#") About
                    li 
                        a(href="#") Work
                    li 
                        a(href="#") Contact
        main
            section#about-me
                .profile-pic-container
                    img(src=require("assets/images/my-image.jpg") alt="profile picture")
                .intro-container
                    p ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quod molestiae magnam odit nostrum! Quas, iure. Consequuntur ea, iste illo dolore quibusdam eum est asperiores reiciendis rerum explicabo doloribus, quaerat deserunt quas ad quisquam?


            section#my-work
            section#contact-me

        footer © Prabhakar Yadav
        script(src=require('./index.ts'))
