doctype html
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href=require('./styles/style.scss') rel='stylesheet')
        title Personal Portfolio

    body
        header
            h1 Protfolio
            nav
                ul
                    li 
                        a(href="#") About
                    li 
                        a(href="#") Work
                    li 
                        a(href="#") Contact
        main
            section#about-me
                .profile-pic-container
                    img(src=require("assets/images/my-image.jpg") alt="profile picture")
                .intro-container
                    p ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt quod molestiae magnam odit nostrum! Quas, iure. Consequuntur ea, iste illo dolore quibusdam eum est asperiores reiciendis rerum explicabo doloribus, quaerat deserunt quas ad quisquam?


            section#my-work
                h2 My Works
                .card-container
                    .card
                        h4 This is card 1
                    .card
                        h4 This is card 2
                    .card
                        h4 This is card 3
                    .card
                        h4 This is card 4
                    .card
                        h4 This is card 5
                    .card
                        h4 This is card 6
                    .card
                        h4 This is card 7
                    .card
                        h4 This is card 8
                    .card
                        h4 This is card 9

            section#contact-me
                h2 Contacts
                .container 
                    .contact-details 
                        h3 Get in Touch
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio libero accusamus rerum, facere impedit cupiditate veritatis aperiam veniam perspiciatis reiciendis omnis necessitatibus minima provident a voluptas reprehenderit aliquam quibusdam, culpa atque labore similique. Amet.

                        h3 My Address 
                        .detail-info-container 
                            i icon 
                            span Greater Noida, India 
                        .detail-info-container 
                            i icon 
                            span 9XXXXXXXXX
                        .detail-info-container 
                            i icon 
                            span example@gmail.com
                    form(method="POST")
                        label Name
                            input(type="text" name="name" placeholder="Your Name") 
                        label Email 
                            input(type="email" name="email" placeholder="Your Email")
                        label Message 
                            textarea(name="message" cols="30" rows="10" placeholder="Your Message") 
                        button(type="submit") Send Message


        footer © Prabhakar Yadav
        script(src=require('./index.ts'))
